html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}
/* App.css */

.dark-mode {
  background-color: #121212;
  color: #f1f1f1;
  transition: all 0.3s ease;
}

.light-mode {
  background-color: #ffffff;
  color: #111111;
  transition: all 0.3s ease;
}

/* Optional: apply these to common layout containers */
body,
html,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}
